<div class="ui <%= object.style %> flash" data-status="<%= object.status %>">
  <%= icon(:close) %>
  <h4 class="ui header"><%= object.title %></h4>
  <div class="content"><%= object.body %></div>
</div>
